
<div class="component">
    <div class="header">
      <h2 align="center">PRODUCT REQUEST SYSTEM</h2>

<body style="background-color:rgb(149, 155, 184)">

<div align="center">
    <span><b>Username</b></span>
    
    <input [(ngModel)]="username" type="text" placeholder="Username">

    <span><b>Password</b></span>
    
    <input [(ngModel)]="password" type="password" placeholder="Password">

    <button (click)="userlogin()" class="btn-sm"><b>Login</b></button>

    <!-- <p [class.isinvalid]="username.invalid && username.touched || password.invalid && password.touched">
      <small [class.d-none]>Invalid Username/Password</small>
    </p> -->

  </div>
  </body>

  </div>
  </div>