<div class="component">
    <div class="header">
      <span class="pagetitle">Request Create</span> 
      <table class="table table-sm" *ngIf="request">
          <tr>
            <td>Id:</td>
            <td><input [(ngModel)]="request.id" type="number" disabled></td>
          </tr>
          <tr>
            <td>Description:</td>
            <td><input [(ngModel)]="request.description" type="text"></td>
          </tr>
          <tr>
            <td>Justification:</td>
            <td>
              <input [(ngModel)]="request.justification" type="text">
            </td>
          </tr>
          <tr>
            <td>ReasonRejection:</td>
            <td><input [(ngModel)]="request.reasonRejection" type="text"></td>
          </tr>
          <tr>
            <td>DeliveryMode:</td>
            <td><input [(ngModel)]="request.deliveryMode" type="text"></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td><input [(ngModel)]="request.status" type="text"></td>
          </tr>
          <tr>
            <td>Total:</td>
            <td><input [(ngModel)]="request.total" type="text" disabled></td>
          </tr>
          <tr>
            <td>UserId:</td>
            <td><input [(ngModel)]="request.userId" type="text" disabled></td>
          </tr>
          <tr>
            <td>User:</td>
            <td><input [(ngModel)]="loggedinusername" type="text" disabled></td>
          </tr>
        </table>
        <button (click)="save()" class="btn btn-primary btn-sm">SAVE</button>
    </div>

</div>

