<app-menu></app-menu>
<div class="component">
  <div class="header">
  <span class="pagetitle">Request List</span> |
  <span class="createlink">
    <a routerLink="/requests/create">CREATE</a>
  </span> |
  <input class="search" [(ngModel)]="searchCriteria" type="text" placeholder="Search">
  <hr>
  </div>
  <table class="table table-sm">
    <tr class="tableheader">
      <td><a (click)="sortBy('id')">Id</a></td>
      <td><a (click)="sortBy('description')">Description</a></td>
      <td><a (click)="sortBy('status')">Status</a></td>
      <td><a (click)="sortBy('total')">Total</a></td>
      <td>Actions</td>
    </tr>
    <tr *ngFor="let request of requests | searchRequests:searchCriteria | sort:sortCriteria:sortOrder">
      <td>{{request.id}}</td>
      <td>{{request.description}}</td>
      <td>{{request.status}}</td>
      <td>{{request.total}}</td>
      <td>
        <span class="actions">
          <a routerLink="/requests/detail/{{request.id}}">Detail</a> |
          <a routerLink="/requests/edit/{{request.id}}">Edit</a> |
          <a routerLink="/requests/lines/{{request.id}}">Lines</a>
        </span>

      </td>
    </tr>
  </table>
</div>

